[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata
After=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/kanata --cfg %h/.config/kanata/config.kbd
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
